@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    color: #BEB0A6ff;
}

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)), url(Aestheticness\ for\ my\ favourite\ people.jfif)
}

.Musicoman{
    color: #AE8E83ff;
}

nav{
    position: absolute;
    left: 130vh;
}

ul {
    align-items: end;
    font-size: larger;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: dashed;
    justify-content: space-between;
}

.title{
    background-color: #040404ff;
    padding: 25px;
}

.container{
    text-align: center;
}

.slogan{
    padding-top: 100px;
}

.h2{
    padding-top: 30px;
    padding-left: 800px;
}

.intro{
    padding-top: 150px;
}

footer{
    text-align: center;
    background-color:#201C1Dff;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}




/* CSS  
--black: #040404ff;
--silver: #BEB0A6ff;
--gunmetal: #282C31ff;
--beaver: #AE8E83ff;
--raisin-black: #201C1Dff;*/